{
  "extends": [
    "standard",
    "prettier",
    "prettier/standard",
    "eslint:recommended"
  ],
  "plugins": [
    "prettier",
    "standard"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}